<div class="col-md-2">
    <ul class="inbox-nav margin-bottom-10">
        <li class="compose-btn">
            <a href="{{ path('siv_main_message_compose') }}" data-title="Compose" class="btn green">
                <i class="fa fa-edit"></i> Nouveau </a>
        </li>
        <li class="inbox active">
            <a href="javascript:;" class="btn" data-title="Inbox">
                Réception(3) </a>
            <b></b>
        </li>
        <li class="sent">
            <a class="btn" href="javascript:;" data-title="Sent">
                Envoyé </a>
            <b></b>
        </li>


    </ul>
</div>
